@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/RalewayThin/RalewayThin.eot");
    src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
    url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayExtraLight";
    src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot");
    src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
    url("../fonts/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayLight";
    src: url("../fonts/RalewayLight/RalewayLight.eot");
    src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayLight/RalewayLight.woff") format("woff"),
    url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;

    font-family: "RalewayRegular", sans-serif;
}

.header,
.footer__container {
    margin: 0 auto;
    width: 1170px;

    text-align: center;
}

.header {
    margin-bottom: 47px;

    background-color: #FFFFFF;
}

.header__logo {
    display: inline-block;
    margin: 60px auto 45px auto;
}
.logo {
    font-weight: 900;
    font-size: 35px;
    font-family: "Playfair Display", serif;
    line-height: 47px;
    letter-spacing: 1px;
}

.menu {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    list-style: none;
}

.menu__link {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.promo-slider {
    padding: 62px 0 31px 0;
    margin-bottom: 99px;

    text-align: center;
    color: #FFFFFF;

    background-image: url("../img/promobg.png");
    background-position: center, 200%;
}

.promo-slider__flag {
    display: inline-block;
    padding: 4px 16px;

    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 2px;

    background-color: #FF7931;
}

.promo-slider__title {
    margin-top: 45px;
    margin-bottom: 59px;

    font-family: "RalewayThin", sans-serif;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.promo-slider__description {
    font-size: 14px;
    line-height: 23px;
}

.promo-slider__nav {
    display: flex;
    justify-content: space-between;
    width: 950px;

    margin: 0 auto 57px auto;
}

.promo-slider__button {
    position: relative;

    padding: 0;

    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;

    border: none;

    background: none;
}

.promo-slider__button--previous::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 88px;

    width: 64px;
    height: 2px;

    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-slider__button--next::before {
    content: "";

    position: absolute;
    top: 8px;
    right: 68px;

    width: 64px;
    height: 2px;

    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-slider__nav-button {
    position: relative;
}

.promo-slider__nav-button--left::before {
     content: "";

     position: absolute;
     top: -13px;
     right: -107px;

     width: 14px;
     height: 19px;

     background-image: url(../img/leftarror.svg);
     background-repeat: no-repeat;
     background-position: 0 0;
 }

.promo-slider__nav-button--left::after {
    content: "";

    position: absolute;
    top: -23px;
    right: -127px;

    width: 1px;
    height: 42px;

    background-image: url(../img/verticalline.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-slider__nav-button--right::before {
    content: "";

    position: absolute;
    top: -13px;
    right: 105px;

    width: 14px;
    height: 19px;

    background-image: url(../img/rightarror.svg);
    background-repeat: no-repeat;
    background-position: -9px 0;
}

.main-content {
    display: grid;
    grid-template-columns: 767px 32px 370px;
    grid-template-rows: 379px 62px 35px 35px 478px 34px 253px 90px 217px 80px 135px;

    margin: 0 auto 18px auto;

    width: 1170px;
}
.title {
    margin: 0;
    padding: 0;

    font-family: "RalewayBold", sans-serif;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.news {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 470px 271px;
    grid-column-gap: 29px;
    grid-template-rows: 4px 91px 91px 91px;
    grid-row-gap: 31px;
    width: 769px;

    margin: 0 0 75px 0;
}

.news__title {
    grid-column: 1 / 3;
    grid-row: 1;
}

.news__container {
    grid-column: 2;
    grid-row: auto;

    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content:  center;
}

.news__container--first {
    grid-column: 1;
    grid-row: 2 / 5;

    justify-content: flex-end;
}

.news__headline {
    margin: 0 0 4px 7px;
    padding: 0;

    font-family: Playfair Display, serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
}

.news__headline--first {
    margin: 0 0 8px 23px;

    font-size: 20px;
    line-height: 27px;
}

.news__lead {
    margin: 0 0 0 7px;
    padding: 0;

    font-size: 10px;
    line-height: 150%;
}

.news__lead--first {
    margin: 0 0 20px 23px;
    font-size: 14px;
    line-height: 150%;
}

.news__img {
    order: -1;

    width: 127px;
    height: 91px;
}

.news__img--first {
    position: absolute;

    width: 470px;
    height: 334px;

    z-index: -1;
}

.reviews {
    grid-column: 1 / 2;
    grid-row: 3 / 8;
    display: grid;
    grid-template-columns: 370px 370px;
    grid-column-gap: 28px;
    grid-template-rows: 1px 328px 328px;
    grid-row-gap: 36px;
}

.reviews__title {
    margin-bottom: 1px;

    grid-column: 1 / 3;
    grid-row: 1;
}

.reviews__container {
    display: flex;
    flex-flow: column;
}

.reviews__headline {
    margin: 17px 0 0 2px;
    padding: 0;

    font-family: Playfair Display, serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
}

.reviews__img {
    order: -1;
}

.reviews__description {
    margin: 9px 0 0 2px;

    font-size: 14px;
    line-height: 150%;
}

.photo-sessions{
    grid-column: 3 / 4;

    width: 370px;
    min-height: 479px;
}

.photo-sessions--1 {
    grid-row: 1 / 4;
}

.photo-sessions--2 {
    grid-row: 5 / 6;
}

.photo-sessions--3 {
    grid-row: 7 / 10;
}

.photo-sessions--4 {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
}

.photo-sessions__title {
    margin: 0;
    padding: 0;

    font-family: Playfair Display, serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.photo-sessions__title--1 {
    color: #000000;
}

.photo-sessions__img {
    position: absolute;

    margin-top: -79px;

    z-index: -1;
}

.photo-sessions__button {
    padding: 16px 58px 14px 28px;

    border: 2px solid #FF7931;

    background-color: rgba(0, 0, 0, 0.7);
}

.button__link {
    font-family: "RalewayMedium", sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    color: #FFFFFF;
}

.photo-sessions__button {
    position: relative;
}

.photo-sessions__button__link::after {
    content: "";

    position: absolute;
    top: 11px;
    right: 27px;

    width: 24px;
    height: 25px;

    background-image: url(../img/arrowforward.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.articles {
    grid-column: 1 / 5;
    grid-row: 10 / 11;

    display: flex;
}

.articles__headline,
.articles__button {
    display: none;
}

.articles__img {
    width: 270px;
    height: 107px;
}

.footer {
    margin: 0;
    padding-top: 1px;

    width: 100%;

    background-color: #F7F7F7;
}

.footer__logo {
    margin-bottom: 29px;

    font-size: 28px;
}

.footer__menu {
    margin-bottom: 44px;
}

.footer__copyright {
    display: inline-block;

    padding: 6px 0 10px 0;

    width: 100%;

    font-size: 10px;
    line-height: 15px;
    text-align: end;

    border-top: 2px solid rgba(0, 0, 0, 0.5);

    opacity: 0.4;
}