@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/RalewayThin/RalewayThin.eot");
    src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
    url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);

    -webkit-transition: all 0.5s ease-in-out;

    transition: all 0.5s ease-in-out;
}

body {
    padding: 0;
    margin: 0;

    font-family: "RalewayRegular", sans-serif;
}

.header,
.footer__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;

    margin: 0 auto;
    width: 1170px;

    text-align: center;
}

.header {
    margin-bottom: 47px;

    background-color: #FFFFFF;
}

.header__logo {
    display: inline-block;
    margin: 60px auto 45px auto;
}
.logo {
    font-weight: 900;
    font-size: 35px;
    font-family: "Playfair Display", serif;
    line-height: 47px;
    letter-spacing: 1px;
}

.menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;

    padding: 0;
    margin: 0;
    list-style: none;
}

.menu__button,
.menu__button--close {
    display: none;
}

.menu__link {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.promo-slider {
    padding: 62px 0 31px 0;
    margin-bottom: 99px;

    text-align: center;
    color: #FFFFFF;

    background-image: url("../img/promobg.png");
    background-position: center, 200%;
}

.promo-slider__flag {
    display: inline-block;
    padding: 4px 16px;

    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 2px;

    background-color: #FF7931;
}

.promo-slider__title {
    margin-top: 45px;
    margin-bottom: 59px;

    font-family: "RalewayThin", sans-serif;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.promo-slider__description {
    font-size: 14px;
    line-height: 23px;
}

.promo-slider__nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 950px;

    margin: 0 auto 57px auto;
}

.promo-slider__button {
    position: relative;

    padding: 0;

    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;

    border: none;

    background: none;
}

.promo-slider__button--previous::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 88px;

    width: 64px;
    height: 2px;

    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-slider__nav-button {
    position: relative;
}

.main-content {
    display: grid;
    grid-template-columns: 767px 32px 370px;
    grid-template-rows: 379px 62px 35px 35px 478px 34px 253px 51px 256px 79px 135px;

    margin: 0 auto 18px auto;

    width: 1170px;
}
.title {
    margin: 0;
    padding: 0;

    font-family: "RalewayBold", sans-serif;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.news {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 470px 271px;
    grid-column-gap: 29px;
    grid-template-rows: 4px 91px 91px 91px;
    grid-row-gap: 31px;
    width: 769px;

    margin: 0 0 75px 0;
}

.news__title {
    grid-column: 1 / 3;
    grid-row: 1;
}

.news__container {
    grid-column: 2;
    grid-row: auto;

    position: relative;

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
    flex-wrap: wrap;
    -webkit-box-pack:  center;
            justify-content:  center;
}

.news__container--first {
    grid-column: 1;
    grid-row: 2 / 5;

    -webkit-box-pack: end;

            justify-content: flex-end;
}

.news__headline {
    margin: 0 0 4px 7px;
    padding: 0;

    font-family: Playfair Display, serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
}

.news__headline--first {
    margin: 0 0 8px 23px;

    font-size: 20px;
    line-height: 27px;
}

.news__lead {
    margin: 0 0 0 7px;
    padding: 0;

    font-size: 10px;
    line-height: 150%;
}

.news__lead--first {
    margin: 0 0 20px 23px;
    font-size: 14px;
    line-height: 150%;
}

.news__img {
    -webkit-box-ordinal-group: 0;
            order: -1;

    width: 127px;
    height: 91px;
}

.news__img--first {
    position: absolute;

    width: 470px;
    height: 334px;

    z-index: -1;
}

.news__bookmark {
    display: none;

    position: absolute;

    top: 8px;
    left: 105px;
}

.news__bookmark--first {
    left: 449px;
}

.reviews {
    grid-column: 1 / 2;
    grid-row: 3 / 8;
    display: grid;
    grid-template-columns: 370px 370px;
    grid-column-gap: 28px;
    grid-template-rows: 1px 328px 328px;
    grid-row-gap: 36px;
}

.reviews__title {
    margin-bottom: 1px;

    grid-column: 1 / 3;
    grid-row: 1;
}

.reviews__container {
    position: relative;

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
}

.reviews__bookmark,
.reviews__comments,
.reviews__views {
    display: none;

    position: absolute;

    top: 173px;

    text-align: center;
    color: #FFFFFF;
}

.reviews__bookmark {
    top: 10px;
    right: 8px;
}

.reviews__views {
    left: 19px
}

.reviews__comments {
    left: 75px
}

.reviews__headline {
    margin: 17px 0 0 2px;
    padding: 0;

    font-family: Playfair Display, serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
}

.reviews__img {
    -webkit-box-ordinal-group: 0;
            order: -1;
}

.reviews__description {
    margin: 9px 0 0 2px;

    font-size: 14px;
    line-height: 150%;
}

.pagination__button {
    position: relative;

    width: 30px;
    height: 29px;

    cursor: pointer;

    border: none;
    background: #FFFFFF;

    opacity: 0.5;
}

.reviews__pagination {
    grid-column: 1 / 3;
    grid-row: 4 / 5;

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;

    padding: 0 160px 30px 157px;
}

.pagination__numbers {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;

    padding: 0;

    list-style: none;
}

.number__button {
    background: none;

    padding: 0;
    margin-right: 25px;

    width: 10px;
    height: 20px;

    font-size: 15px;
    line-height: 17px;

    cursor: pointer;

    border: none;

    opacity: 0.5;
}

.number__button--last {
    margin-right: 0;
}

.number__button--active {
    height: 30px;

    font-size: 20px;
    line-height: 24px;

    border-bottom: 3px solid #FF7931;

    opacity: 1;

    -webkit-transition: all 0.3s ease-out;

    transition: all 0.3s ease-out;
}

.number__button:focus {
    outline: none;
}

.photo-sessions {
    grid-column: 3 / 4;

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
    -webkit-box-pack: justify;
            justify-content: space-between;

    width: 370px;
    max-height: 479px;
}

.photo-sessions--1 {
    grid-row: 1 / 4;
}

.photo-sessions--2 {
    grid-row: 5 / 6;
}

.photo-sessions--3 {
    grid-row: 7 / 10;
}

.photo-sessions--4 {
    grid-column: 1 / 2;
    grid-row: 9 / 10;

    -webkit-box-orient: horizontal;

    -webkit-box-direction: normal;

            flex-flow: row;
    -webkit-box-pack: justify;
            justify-content: space-between;

    width: auto;
    max-height: 176px;
}

.photo-sessions__title {
    margin: 0;
    padding: 40px 0 0 0;

    font-family: Playfair Display, serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.photo-sessions__title--1 {
    color: #000000;
    line-height: 40px;
}

.photo-sessions__title--4 {
    padding: 0 0 0 113px;

    align-self: center;

    font-family: "RalewayThin", sans-serif;
    line-height: 35px;
}

.photo-sessions__img {
    position: absolute;

    z-index: -1;
}

.photo-sessions__button {
    position: relative;

    align-self: center;

    padding: 16px 58px 14px 28px;
    margin-bottom: 39px;

    border: 2px solid #FF7931;

    background-color: rgba(0, 0, 0, 0.7);
}

.photo-sessions__button--4 {
    margin: 0 111px 0 0;
}

.button__link {
    font-family: "RalewayMedium", sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    color: #FFFFFF;
}


.photo-sessions__button__link::after {
    content: "";

    position: absolute;
    top: 11px;
    right: 27px;

    width: 24px;
    height: 25px;

    background-image: url(../img/arrowforward.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}


.articles {
    grid-column: 1 / 5;
    grid-row: 10 / 11;

    position: relative;

    margin-top: 15px;
}

.js-slider__container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row;
    -webkit-box-align: center;
            align-items: center;

    width: 1170px;

    overflow: hidden;
}

.js-slider__visibility-hidden {
    display: none;
    height: 0;
    -webkit-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
}

.articles__container {
    position: relative;

    margin-right: 25px;

    -webkit-transition: all 0.5s ease-out;

    transition: all 0.5s ease-out;
}

.articles__headline,
.articles__button {
    display: none;

    position: absolute;
}

.articles__headline {
    top: 26px;
    left: 0;

    width: 100%;

    font-family: "RalewayThin", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.articles__button {
    bottom: 32px;
    left: 80px;

    padding: 9px 19px 8px 19px;

    font-size: 10px;
    line-height: 12px;

    border: 1px solid #FFFFFF;

    background-color: rgba(0, 0, 0, 0.7);
}

.articles__img {
    width: 270px;
    height: 107px;

    -webkit-transition: all 0.5s ease-out;

    transition: all 0.5s ease-out;
}

.articles__nav-button {
    position: absolute;
    top:31px;

    padding: 0;

    width: 44px;
    height: 44px;

    border: none;

    cursor: pointer;

    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    z-index: 2000;
}

.articles__nav-button--next {
    right: -21px;
}

.articles__nav-button--previous {
    left: -23px;
}

.js-prev-item {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

.js-next-item {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}

.footer {
    margin: 0;
    padding-top: 1px;

    width: 100%;

    background-color: #F7F7F7;
}

.footer__logo {
    margin-bottom: 29px;

    font-size: 28px;
}

.footer__menu {
    margin-bottom: 44px;
}

.footer__copyright {
    display: inline-block;

    padding: 6px 0 10px 0;

    width: 100%;

    font-size: 10px;
    line-height: 15px;
    text-align: end;

    border-top: 2px solid rgba(0, 0, 0, 0.5);

    opacity: 0.4;
}

@media (min-width: 1175px) {
    .news__container:hover .news__img,
    .reviews__container:hover .reviews__img {
        -webkit-filter: brightness(50%);
                filter: brightness(50%);
    }

    .news__container:hover .news__headline,
    .reviews__container:hover .reviews__headline {
        color: #FF7931;
    }

    .news__container:hover .news__bookmark,
    .reviews__container:hover .reviews__bookmark,
    .reviews__container:hover .reviews__views,
    .reviews__container:hover .reviews__comments {
        display: block;
    }

    .promo-slider__button--next::before {
        content: "";

        position: absolute;
        top: 8px;
        right: 68px;

        width: 64px;
        height: 2px;

        background-image: url(../img/line.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    .promo-slider__nav-button--left::before {
        content: "";

        position: absolute;
        top: -13px;
        right: -107px;

        width: 14px;
        height: 19px;

        background-image: url(../img/leftarror.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    .promo-slider__nav-button--left::after {
        content: "";

        position: absolute;
        top: -23px;
        right: -127px;

        width: 1px;
        height: 42px;

        background-image: url(../img/verticalline.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    .promo-slider__nav-button--right::before {
        content: "";

        position: absolute;
        top: -13px;
        right: 105px;

        width: 14px;
        height: 19px;

        background-image: url(../img/rightarror.svg);
        background-repeat: no-repeat;
        background-position: -9px 0;
    }

    .photo-sessions__button:hover,
    .photo-sessions__button:focus {
        background-color: #FF7931;
    }

    .pagination__button--previous::after,
    .pagination__button--next::before {
        content: "";
        position: absolute;

        top: 0;

        width: 2px;
        height: 27px;

        background: #000000;

        opacity: 0.5;
    }

    .pagination__button--previous::after {
        right: -12px;
    }

    .pagination__button--next::before {
        left: -12px;
    }

    .articles__container:hover .articles__img {
        width: 270px;
        height: 136px;

        -webkit-filter: brightness(50%);

                filter: brightness(50%);

        -webkit-transition: all 0.5s ease-out;

        transition: all 0.5s ease-out;
    }

    .articles__container:hover .articles__headline,
    .articles__container:hover .articles__button {
        display: block;

        z-index: 1000;
    }
}

@media (max-width: 1175px) {
    .header,
    .js-slider__container,
    .articles__container {
        width: 100%;
    }

    .header {
        margin-bottom: 0;
    }

    .logo,
    .news__headline--first,
    .news__lead--first,
    .promo-slider__title,
    .promo-slider__description {
        overflow-wrap: break-word;
    }

    .header__logo {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-flow: column;

        display: none;

        position: absolute;
    }

    .menu__button {
        -webkit-box-ordinal-group: 0;
                order: -1;

        position: absolute;

        display: block;

        padding: 0;

        width: 50px;
        height: 50px;

        border: none;

        background: url(../img/Menu.svg);
    }

    .menu__button--close {
        position: absolute;

        display: block;

        padding: 0;

        top: 17px;
        right: 16px;

        width: 30px;
        height: 30px;

        border: none;

        background: url('../img/close.svg');

        z-index: 5000;
    }

    .header__menu--mobile {
        display: -webkit-box;
        display: flex;

        padding-top: 76px;

        width: 100%;

        background: #FFFFFF;

        z-index: 3000;
    }

    .menu__item {
        position: relative;

        margin-bottom: 20px;
        padding-left: 16px;

        width: 100%;
        height: 57px;

        text-align: left;

        background: #F9F9FC;
    }

    .menu__item::before {
        content: "";

        position: absolute;

        top: 23px;
        right: 37px;

        width: 12px;
        height: 12px;

        background-image: url(../img/arrow.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    .menu__link {
        display: inline-block;

        margin-top: 18px;

        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    .main-content {
        width: 100%;
    }

    .promo-slider {
        margin-bottom: 50px;
        padding-top: 25px;

        background-size: cover;
    }


    .promo-slider__title {
        margin-top: 30px;
        margin-bottom: 20px;

        font-weight: 300;
        font-size: 32px;
        line-height: 150%;
    }

    .promo-slider__button,
    .promo-slider__nav {
        display: none;
    }

    .main-content,
    .news,
    .reviews {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-flow: column;
    }

    .news,
    .reviews,
    .photo-sessions,
    .articles {
        box-sizing: border-box;

        padding: 0 16px;
        margin: 0 auto;

        width: 320px;
    }


    .title {
        margin-bottom: 15px;
    }

    .news {
        margin-bottom: 25px;
    }

    .news__container {
        align-content: flex-start;

        margin-bottom: 25px;

        max-height: 91px;
    }

    .news__img {
        margin-right: 15px;
    }

    .news__container--first,
    .news__img--first {
        margin-right: 0;

        min-height: 334px;
        width: 288px;
    }

    .reviews__container {
        margin-bottom: 20px;
    }

    .reviews__img,
    .news__img--first,
    .photo-sessions__img {
        -o-object-fit: cover;
           object-fit: cover;
    }

    .reviews__pagination {
        padding: 0;
    }

    .number__button {
        margin-right: 7px;

        width: 39px;
        height: 39px;

        opacity: 1;
    }

    .number__button--last {
        margin: 0;
    }

    .number__button--active {
        width: 38px;
        height: 38px;

        font-size: 18px;
        line-height: 22px;

        color: #FF7931;

        border: 1px solid #FF7931;

        opacity: 1;

        -webkit-transition: all 0.3s ease-out;

        transition: all 0.3s ease-out;
    }

    .photo-sessions {
        margin-bottom: 30px;

        height: 310px;
    }

    .photo-sessions__img {
        width: 288px;
        height: 310px;
    }

    .photo-sessions__title {
        font-size: 20px;
    }

    .photo-sessions--1 {
        -webkit-box-ordinal-group: 6;
                order: 5;
    }

    .photo-sessions--2 {
        -webkit-box-ordinal-group: 7;
                order: 6;
    }

    .photo-sessions--3 {
        -webkit-box-ordinal-group: 8;
                order: 7;
    }

    .photo-sessions--4 {
        -webkit-box-ordinal-group: 4;
                order: 3;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-flow: column;
        -webkit-box-pack: center;
                justify-content: center;

        padding: 0;
        margin-bottom: 50px;
    }

    .photo-sessions--4,
    .photo-sessions__img--4 {
        width: 100%;
        max-height: 176px;
    }

    .photo-sessions__button--4 {
        margin: 0;
    }

    .photo-sessions__title--4 {
        padding: 0;
        margin-bottom: 20px;
    }

    .articles {
        -webkit-box-ordinal-group: 5;
                order: 4;

        margin-bottom: 50px;
    }

    .articles__img {
        width: 288px;
        height: 146px;

        -webkit-filter: brightness(50%);

                filter: brightness(50%);
    }

    .articles__headline,
    .articles__button {
        display: block;

        z-index: 1000;
    }


    .footer {
        display: none;
    }
}
/*# sourceMappingURL=style.css.map */
